<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gateway Archives</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body style="font-family:Consolas;color:red;background-color:black">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gateway Archives", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Leaderboard", "Index", "User")</li>
                        <li>@Html.ActionLink("Status", "Status", "Home")</li>
                        <li>@Html.ActionLink("Gates", "Index", "Gates")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>

            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                <center>
                    <input type="text" name="filter" placeholder=" Username" style="background-color:black;color:white;border: 2px solid #FF0000;border-radius:8px" />
                    <input type="submit" name="Search" style="background-color:black;color:white;border: 2px solid #FF0000;border-radius:8px" />
                    <p style="color:red">Search for a Theorist!</p>
                </center>
            }
            <p style="float:left">The Gateway Archives Project - Daviado#3449</p>
            <img src="~/Assets/ArchiveLogo.png" width="36px" height="32px" style="float:right" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>