<!DOCTYPE html>
<style>
    .form {
        text-align: center
    }
    .button {
        background-color: #ddd;
        border: none;
        color: black;
        text-align: center;
        padding-left:5px;
        padding-right:5px;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gateway Archives</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body style="font-family:Consolas;color:red;background-color:black">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button class="button" data-toggle="collapse" data-target=".nav-collapse">
                    <p style="padding-top:10px">Pages</p>
                </button>
                <a style="color:white">@Html.ActionLink("The Gateway Projects", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                        <li>@Html.ActionLink("Realtime Updates", "Update", "Home")</li>
                        <li>@Html.ActionLink("Status", "Status", "Home")</li>
                        <li>@Html.ActionLink("Gates", "Index", "Gates")</li>
                        <li>@Html.ActionLink("Find Help", "Help", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <div class="form">
            </div>
            <p style="float:left">The Gateway Projects - Daviado#3449</p>
            <img src="~/Assets/Gate1Logo.gif" width="36px" height="32px" style="float:right" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
