
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }

    .gate2 {
        background-color: #3fba84;
        color: white;
    }

    .gate3 {
        background-color: #34a9f6;
        color: white;
    }

    .gate4 {
        background-color: #fe7b51;
        color: white;
    }

    .gate5 {
        background-color: #f0be37;
        color: white;
    }

    .gate6 {
        background-color: #a74cc1;
        color: white;
    }

    .gate7 {
        background-color: #282828;
        color: white;
    }
    .g1button {
        color: #e6335a;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #e6335a;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g2button {
        color: #3fba84;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #3fba84;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g3button {
        color: #34a9f6;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #34a9f6;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g4button {
        color: #fe7b51;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #fe7b51;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g5button {
        color: #f0be37;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #f0be37;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g6button {
        color: #a74cc1;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #a74cc1;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g7button {
        color: #282828;
        background-color: rgba(219, 219, 219, 0.35);
        text-align: center;
        border: 4px solid #282828;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <h1 style="color:red;text-align:center;border:8px solid red;font-family:Courier New, Courier, monospace;border-radius:8px"><strong>THE 7 GATES</strong></h1>
            <div class="g1button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 1", "Gate1", "Gates")
                    </strong>
                </h3>
                <p>Nintendo Theme</p>
                <p>November 24th, 2018</p>
                <p><strong>OPEN</strong></p>
            </div>
            <h4></h4>
            <div class="g2button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 2", "Gate2", "Gates")
                    </strong>
                </h3>
                <p>Indie Game Theme</p>
                <p>After December 7th, 2018</p>
                <p><strong>POSTPONED</strong></p>
            </div>
            <h4></h4>
            <div class="g3button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 3", "Gate3", "Gates")
                    </strong>
                </h3>
                <p>Unknown Theme</p>
                <p>Unknown Release Date</p>
                <p><strong>LOCKED</strong></p>
            </div>
            <h4></h4>
            <div class="g4button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 4", "Gate4", "Gates")
                    </strong>
                </h3>
                <p>Merch Theme</p>
                <p>Unknown Date</p>
                <p><strong>LOCKED</strong></p>
            </div>
            <h4></h4>
            <div class="g5button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 5", "Gate5", "Gates")
                    </strong>
                </h3>
                <p>GTLive Theme</p>
                <p>Unknown Date</p>
                <p><strong>LOCKED</strong></p>
            </div>
            <h4></h4>
            <div class="g6button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 6", "Gate6", "Gates")
                    </strong>
                </h3>
                <p>Unknown Theme</p>
                <p>Unknown Date</p>
                <p><strong>LOCKED</strong></p>
            </div>
            <h4></h4>
            <div class="g7button">
                <h3>
                    <strong>
                        @Html.ActionLink("Gate 7", "Gate7", "Gates")
                    </strong>
                </h3>
                <p>Nintendo Theme</p>
                <p>Unknown Date</p>
                <p><strong>LOCKED</strong></p>
            </div>

        </div>

        </div>
</body>