@model PagedList.IPagedList<The7GATESArchive.Models.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Leaderboard";
}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;
    }

    .top {
        border: 2px solid rgba(255, 76, 249,1);
        background-color: rgba(183, 0, 177,0.45);
        color: white;
    }

    .topnorm {
        border: 2px solid rgba(255, 76, 249,1);
        background-color: rgba(183, 0, 177,0.05);
        color: white;
    }

    .top2 {
        color: white;
    }
    .form {
        background-color:black;
        color:red;
        border:2px solid red

    }
    .notice {
        border: 2px solid red;
        background-color: rgba(188, 0, 0,0.35);
        color: white;
        text-align:center;
    }
    .btn {
        color: white;
        background-color: rgba(183, 0, 177,0);
        border: 2px solid rgba(255, 76, 249,1);
        border-radius: 8px;
    }
        .btn:hover {
            background: rgba(255, 76, 249,1)
        }
        .btn:disabled {
            color: black;
            background-color: lightgray;
            border: 2px solid lightgray;
            border-radius: 8px;
        }
    .clear {
        color: white;
        background-color: rgba(183, 0, 177,0);
        border: 2px solid rgba(255, 76, 249,1);
        border-radius: 8px;
    }
        .clear:hover {
            color: white;
            background-color: red;
            border: 2px solid red;
            border-radius: 8px;
        }
</style>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
<body style="background-color:black;font-family:Courier New, Courier, monospace">
    <br />
    <table class="table table-condensed">
        <tr class="top">
            <th>
                <a href="User/Gate1">
                    <img src="~/Assets/Gate1Logo.gif" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate2">
                    <img src="~/Assets/Gate2Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate3">
                    <img src="~/Assets/Gate3Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate4">
                    <img src="~/Assets/Gate4Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate5">
                    <img src="~/Assets/Gate5Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate6">
                    <img src="~/Assets/Gate6Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>
            <th>
                <a href="User/Gate7">
                    <img src="~/Assets/Gate7Logo.png" height="64px" width="64px" style="border-radius:65px" />
                </a>
            </th>

        </tr>
    </table>
    <br />
    <table class="table table-condensed" style="color:red;padding-top:10px">
        <caption class="top" style="font-size:large;text-align:center">

            <h1 style="font-size:60px">ALL THEORISTS</h1>
            @using (Html.BeginForm())
            {
                <p style="text-align:center;color:red">
                <p style="color:white">Find by Username:</p> <p style="color:red">@Html.Editor("SearchString", ViewBag.CurrentFilter as string)</p>
                <button class="btn">Search</button><button class="btn" style="margin-left:20px">@Html.ActionLink("Clear", "Index")</button>
                </p>
            }
            <br />
            <div style="text-align:center;font-size:small">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </caption>
        <tr class="top">
            <th>
                <p class="top2"><strong>@Html.ActionLink("Rank", "Index", new { sortOrder = ViewBag.RankSortParm, currentFilter = ViewBag.CurrentFilter })</strong></p>
            </th>
            <th>
                <p class="top2"><strong>@Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</strong></p>
            </th>
            <th>
                <p class="top2"><strong>@Html.ActionLink("Keys", "Index", new { sortOrder = ViewBag.KeySortParm, currentFilter = ViewBag.CurrentFilter })</strong></p>
            </th>
            <th>
                <p class="top2"><strong>Time</strong></p>
            </th>
            <th>
                <p class="top2"><strong>Options</strong></p>
            </th>
        </tr>

        @foreach (var item in Model)
        {


            <tr class="topnorm">
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Rank)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keys)
                </td>
                <td>
                    @{
                        string timeValue = item.TimeForAllGates.ToString(@"hh\:mm\:ss\.ff");
                    }

                    @Html.DisplayFor(modelItem => timeValue)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
