@model The7GATESArchive.Models.TestValuesModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

</head>
<body>
    <div style="text-align:center">
        <h1>TEST VALUES</h1>
        <p>THIS PAGE IS NOT AN OFFICIAL WORKING PAGE! IF YOU ARE VISITNG, THIS PAGE IS HOME TO TESTING VALUES!</p>

        <br />
        <h1>Testing Values</h1>
        <p>@Model.TV0 is @Model.TV0EX.ToString()</p>
        <p>@Model.TV1 is @Model.TV1EX.ToString()</p>
        <p>@Model.TV2 is @Model.TV2EX.ToString()</p>
        <p>@Model.TV3 is @Model.TV3EX.ToString()</p>
        <p>@Model.TV4 is @Model.TV4EX.ToString()</p>
        <p>@Model.TV5 is @Model.TV5EX.ToString()</p>
    </div>
</body>
</html>